[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "Bestie"]
	path = Bestie
	url = https://github.com/cran/Bestie
	shallow = true
	registered = true
